<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>LogIn</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script	th:src="@{https://code.jquery.com/jquery-3.2.1.js}"></script>
	<link th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet"/>
	<link th:href="@{/resources/css/register.css}" rel="stylesheet"/>
	<style type="text/css">
		.head{
			background: #2c3e50;
		}

		.jumb{
			background-color:  #d9e6f2; 
		}

		.jumbotron{
    		background-color:transparent !important; 
		}

		.marg{
			margin-top: 150px;
		}
		#selectd{
			color: green;
		}

	</style>
	<script type="text/javascript">
		function validateForm(){
			var login = document.getElementById("login").value;
			if(login.length<1){
				alert("Please enter a valid CID!");
				return false;
			}
			return true;
		}
		function logOut(){
			alert("Please Register or login");
		}
		
		
	
	
	</script>
</head>
<body>

	<nav class="navbar navbar-inverse head">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo" aria-expanded="false">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
      			</button>
				<a href="Hulton_Start_Home.html" class="navbar-brand">Hulton</a>
			</div>
			<div class="collapse navbar-collapse" id="bs-nav-demo">
				<ul class="nav navbar-nav">
					
					<li><a onclick="logOut()" href="Hulton_Login.html">Reservation</a></li>
				</ul>

				<ul class="nav navbar-nav navbar-right">
					<li><a id="selectd" href="#">Login</a></li>
					<li><a onclick="logOut()" href="Hulton_Login.html">Logout</a></li>
					<li><a href="Hulton_Register.html">Register</a></li>
					
				</ul>
			</div>
			
		</div>
	</nav>

	<div class="container">
		 <form name="myForm" onsubmit="return validateForm()" class="form-horizontal marg" action="#" th:action="@{/Hulton_Login}" th:object="${login}" method="post">
			
			<div class="form-group">
			    <label for="inputPassword3" class="col-sm-2 control-label">CID</label>
			    <div class="col-sm-10">
			    	<input id="login" type="password" class="form-control" th:field="*{cid}" placeholder="Cid">
			    </div>
			</div>
			
			<div class="form-group">
			    <div class="col-sm-offset-2 col-sm-10">
					<input type="submit" class="btn btn-success btn-lg" value="Login" onclick="validateForm()"/>
			    </div>
			</div>
		</form>

		<div class="row">
			<div class="col-lg-12">
				<div class="thumbnail">
					<img src="https://media-cdn.tripadvisor.com/media/photo-s/0a/f3/f8/bb/three-bedroom-villa-swimming.jpg">
				</div>
			</div>
		</div>
	</div>
</body>
</html>